# Node dependencies
node_modules/

# Build output
backend/build/
backend/data
frontend/build/

# Logs
*.log

# Environment files
.env
.env.local

# Mac system files
.DS_Store

# Editor settings
.vscode/
